AddType application/x-httpd-php .htm 
AddType application/x-httpd-php .html

RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_URI} /+[^\.]+$

RewriteRule ^books/genre/([0-9]+) index.php?controller=book&action=by_genre&genre_id=$1
RewriteRule ^books/([0-9]+) index.php?controller=book&action=view&book_id=$1
RewriteRule ^books index.php?controller=book&action=index

RewriteRule ^authors/genre/([0-9]+) index.php?controller=author&action=by_genre&genre_id=$1
RewriteRule ^authors/([0-9]+) index.php?controller=author&action=view&author_id=$1
RewriteRule ^authors index.php?controller=author&action=index

RewriteRule ^cart index.php?controller=cart&action=index

RewriteRule ^checkout index.php?controller=checkout&action=index

RewriteRule ^contact index.php?controller=contact&action=index

RewriteRule ^wishlist index.php?controller=wishlist&action=index

ErrorDocument 404 /bookstore/index.php?action=error
